body {
  font-family: 'Roboto',"Helvetiva Neue",Helvetiva, Arial,sans-serif;
  font-weight: 300;
  line-height: 30px;
  margin: 0px;
  color: #333;
  #box-shadow: inset 0px 0px 200px rgba(0,0,0,0.8);
  min-height: 100%;
}

h1 {
  text-align: left;
  font-weight: 900;
  letter-spacing: -4;
  color: ##FFFFFF;
  white-space: nowrap;
}

hr {
  margin-right: 20px;
  border-width: 0.5px;
}

img {
  float: left;
  max-width: 20%;
  max-height: 20%;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 10px;
}

#content {
  min-height: 500px;
}

#name-header-full {
  max-width: 500px;
  margin: 0px auto;
  padding-top: 150px;
  padding-left: 20px;
}

#essay-header-full {
  max-width: 500px;
  margin: 0px auto;
  padding-left: 10px;
}

#breadcrum {
  max-width: 500px;
  margin: 0px auto;
  padding-top: 150px;
  padding-left: 10px;
}

#essay-date {
  max-width: 500px;
  margin: 0px auto;
  padding-top: 10px;
  padding-left: 10px;
}

#inner {
  max-width: 500px;
  margin: 0px auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 40px;
}

#title {
  font-weight: 600;
  text-decoration: underline;
  text-decoration-color: gray;
}

#subtitle {
  font-size: 16px;
  font-weight: bold;
}

#details {
  font-size: 14px;
}

a {
  opacity: 1.0;
  text-decoration: none;
  border-bottom: 1px dashed rgba(0,0,0,0.2);
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

a:hover {
  opacity: 0.6;
  text-decoration: none;
}

a {
  color: #5700ff;
}

.misc {
  margin-left: 10px;
  color: #333;
  font-size: 15px;
  display:inline-block;
}

p b {
  t ext-transform: uppercase;
  font-size: 16px;
}
